* {
  margin: 0;
  padding: 0;
  transition: all .3s;
}

html, * {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaRenner-Regular.otf');
}